@font-face {
    font-family: 'Poppins';
    src: url('../FONTS/Poppins/Poppins-Regular.eot');
    src: url('../FONTS/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../FONTS/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../FONTS/Poppins/Poppins-Regular.woff') format('woff'),
        url('../FONTSPoppins/Poppins-Regular.ttf') format('truetype'),
        url('../FONTS/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mulish';
    src: url('../FONTS/Mulish/Mulish-Regular.eot');
    src: url('../FONTS/Mulish/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('../FONTS/Mulish/Mulish-Regular.woff2') format('woff2'),
        url('../FONTS/Mulish/Mulish-Regular.woff') format('woff'),
        url('../FONTS/Mulish/Mulish-Regular.ttf') format('truetype'),
        url('../FONTS/Mulish/Mulish-Regular.svg#Mulish-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
