@media (min-width: 769px) and (max-width: 1024px) {
  .body {
    padding-top: 60px;
  }
  /* ! Header */
  .header {
    height: 60px;
  }
  .Contact {
    display: none;
  }
  .HowItWorks {
    height: 40px;
  }
  .GetStart {
    display: none;
  }
  /* ! Section # 1 */
  .section-1 {
    min-height: 908px;
  }
  .section-1-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 40px;
    min-height: 708px;
  }
  .section-1-container-left {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 348px;
  }
  .section-1-container-left-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-1-howitWorks {
    display: none;
  }
  .section-1-container-right {
    max-width: 320px;
    min-height: 320px;
  }
  /* ! Section # 3 */
  .section-3 {
    min-height: 89.125rem;
  }
  .section-3-container-cards-box {
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .section-3-container-card {
    min-height: 21.9375rem;
  }
  .section-3-container-card-text {
    max-width: 38.75rem;
    width: 100%;
  }
  /* ! Section # 4*/
  .section-4 {
    min-height: 30.875rem;
  }
  .section-4-container {
    min-height: 18.375rem;
    row-gap: 2.5rem;
  }
  .section-4-container-texts {
    min-height: 6.9375rem;
  }
  .section-4-container-texts-p {
    max-width: 42.5rem;
    width: 100%;
    min-height: 2.5625rem;
  }
  .section-4-container-metrics-box {
    min-height: 8.9375rem;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  /* ! Section # 5 */
  .section-5 {
    min-height: 29.1875rem;
  }
  .section-5-container {
    max-width: 42.5rem;
    min-height: 29.1875rem;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .section-5-container-left {
    max-width: 20rem;
    width: 100%;
    min-height: 16.6875rem;
  }
  .section-5-container-right {
    max-width: 21.25rem;
    width: 100%;
    min-height: 16.6875rem;
  }
  .section-5-container-right-text {
    min-height: 10.375rem;
  }
  .section-5-container-right-text-h4 {
    min-height: 6.125rem;
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
  .section-5-container-right-text-p {
    min-height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* ! Section # 6 */
  .section-6 {
    min-height: 73.45rem;
  }
  .section-6-container {
    min-height: 60.875rem;
    row-gap: 1.875rem;
  }
  .section-6-container-text {
    max-width: 42.5rem;
    width: 100%;
    min-height: 8.6875rem;
  }
  .section-6-container-cards-box {
    min-height: 50.3125rem;
    grid-template-columns: repeat(1, minmax(315px, 60.875rem));
  }
  .section-6-container-card-inside {
    max-width: 38.75rem;
    width: 100%;
    min-height: 12rem;
  }
  .section-6-container-card-inside-info {
    flex-direction: row;
    column-gap: 30px;
  }
  .section-6-container-card-inside-info-top {
    max-width: 280px;
    width: 100%;
  }
  .section-6-container-card-inside-info-bottom {
    max-width: 310px;
    width: 100%;
    min-height: 191px;
    row-gap: 24px;
  }
  .person-resume {
    text-align: left;
  }
  .person-rating {
    justify-content: flex-start;
  }
  /* ! Section # 7 */
.section-7{
  min-height: 109rem;
}
.section-7-container{
  max-width: 42.5rem;
  min-height: 96.5rem;
}

}
