@media (min-width: 319px) and (max-width: 768px) {
  .body {
    padding-top: 60px;
  }
  /* ! Header */
  .header {
    height: 60px;
  }
  .header-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation {
    display: none;
  }
  /* ! Section # 1 */
  .section-1-container {
    width: 98%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 40px;
    min-height: 809px;
  }
  .section-1-container-left {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 329px;
  }
  .section-1-container-left-text {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 13.6875rem;
  }
  .section-1-container-left-h1 {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 9.1875rem;
    font-size: 2.375rem;
    line-height: 3.125rem;
    /* letter-spacing: -0.025em; */
  }
  .section-1-container-left-p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .section-1-container-left-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-1-howitWorks {
    display: none;
  }
  .section-1-container-right {
    max-width: 320px;
    min-height: 320px;
  }
  /* ! section # 2 */
  .section-2-container {
    min-height: 6.875rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 2.45rem;
    -moz-column-gap: 2.45rem;
    column-gap: 2.45rem;
    row-gap: 10px;
  }
  .section-2-brands-wraper {
    width: 23%;
  }
  /* ! Section # 3 */
  .section-3 {
    min-height: 100.6875rem;
  }
  .section-3-container-h3 {
    font-weight: 600;
  }
  .section-3-container-cards-box {
    grid-template-columns: repeat(auto-fit, 100%);
    row-gap: 1.875rem;
  }
  .section-3-container-card {
    min-height: 25.5rem;
  }
  .section-3-container-card-text {
    width: 100%;
  }
  .section-3-container-card-text-h4 {
    width: 15.9375rem;
  }
  .section-3-container-card-text-p {
    width: 255px;
  }
  /* ! Section # 4 */
  .section-4 {
    min-height: 41.75rem;
  }
  .section-4-container {
    min-height: 34.25rem;
    row-gap: 2.5rem;
  }
  .section-4-container-texts {
    min-height: 11.3125rem;
  }
  .section-4-container-texts-h3 {
    min-height: 6.125rem;
  }
  .section-4-container-texts-p {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 3.9375rem;
  }
  .section-4-container-metrics-box {
    min-height: 20.4375rem;
    grid-template-columns: repeat(2, minmax(1px, 17.03125rem));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-4-container-metrics {
    border-radius: 1.25rem;
    -webkit-box-shadow: 5px 5px 10px #f2bfaf;
    box-shadow: 5px 5px 10px #f2bfaf;
  }
  .section-4-container-metrics-h4 {
    max-width: 7.21875rem;
    width: 100%;
    min-height: 2.25rem;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    letter-spacing: -0.01em;
  }
  .section-4-container-metrics-p {
    max-width: 7.21875rem;
    width: 100%;
    min-height: 3.9375rem;
  }
  /* ! Section # 5 */
  .section-5 {
    min-height: 40.4375rem;
  }
  .section-5-container {
    min-height: 32.9375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.25rem;
  }
  .section-5-container-left {
    max-width: 320px;
    width: 100%;
    min-height: 16.6875rem;
  }
  .section-5-container-right {
    min-height: 15rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-5-container-right-text {
    min-height: 8.75rem;
    text-align: center;
  }
  .section-5-container-right-text-h4 {
    min-height: 4.5rem;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
  }
  .section-5-container-right-text-p {
    min-height: 3rem;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
  }
  /* ! Section # 6 */
  .section-6 {
    min-height: 122.0625rem;
  }
  .section-6-container {
    min-height: 104.5625rem;
    row-gap: 1.875rem;
  }
  .section-6-container-text {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 13.0625rem;
  }
  .section-6-container-text-h2 {
    min-height: 9.1875rem;
    font-weight: 600;
  }
  .section-6-container-text-p {
    min-height: 2.625rem;
  }
  .section-6-container-cards-box {
    grid-template-columns: repeat(1, minmax(300px, 60.875rem));
  }
  .section-6-container-card {
    min-height: 458px;
  }
  .section-6-container-card-inside {
    max-width: 255px;
    width: 100%;
    min-height: 378px;
  }
  .section-6-container-card-inside-info-bottom {
    min-height: 221px;
  }
  .person-resume {
    min-height: 168px;
  }
  /* ! Section # 7 */
  .section-7 {
    min-height: 104.875rem;
  }
  .section-7-container {
    min-height: 97.375rem;
  }
  .section-7-container-text {
    min-height: 10rem;
  }
  .section-7-container-text-h3 {
    min-height: 6.125rem;
    font-weight: 600;
  }
  .section-7-container-text-p {
    min-height: 2.625rem;
  }
  .section-7-container-card-box {
    grid-template-columns: repeat(1, minmax(300px, 100%));
    row-gap: 30px;
  }
  .section-7-container-card {
    min-height: 450px;
  }
  .section-7-container-card-text {
    max-width: 255px;
    width: 100%;
    min-height: 280px;
  }
  .section-7-container-card-text-top {
    min-height: 161px;
    row-gap: 10px;
  }
  .section-7-container-card-text-top-price {
    width: 100%;
  }
  .section-7-getStart-button {
    width: 225px;
  }
  /* ! Section # 8 */
  .section-8 {
    min-height: 1704px;
  }
  .section-8-container {
    min-height: 1584px;
    row-gap: 30px;
  }
  .section-8-container-text {
    min-height: 117px;
  }
  .section-8-container-text-h2 {
    width: 100%;
    font-weight: 600;
  }
  .section-8-container-text-p {
    min-height: 48px;
  }
  .section-8-container-cards-box {
    grid-template-columns: repeat(1, minmax(213px, 374px));
    justify-content: center;
    row-gap: 30px;
  }
  .section-8-container-card-member-soc-media-imgbox:hover {
    transform: scale(1.1, 1.1);
  }
  /* ! Section # 9 */
  .section-9 {
    min-height: 642px;
  }
  .section-9-container {
    min-height: 582px;
    flex-direction: column;
    align-items: center;
  }
  .section-9-container-left {
    width: 100%;
    min-height: 344px;
  }
  .section-9-container-left-rwaper {
    min-height: 264px;
    align-items: center;
  }
  .section-9-container-left-text {
    min-height: 164px;
    text-align: center;
  }
  .section-9-container-left-text-h6 {
    min-height: 72px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
  }
  .section-9-container-left-text-p {
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }
  .section-9-anima-link {
    font-size: 16px;
    line-height: 24px;
  }
  .section-9-container-right {
    width: 100%;
    min-height: 238px;
  }
  .section-9-container-right-img {
    margin: 20px auto;
  }
}
