@media (min-width: 319px) and (max-width: 768px) {
  .body {
    padding-top: 60px;
  }
  /* ! Header */
  .header {
    height: 60px;
  }
  .header-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation {
    display: none;
  }
  /* ! Section # 1 */
  .section-1-container {
    width: 98%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 40px;
    min-height: 809px;
  }
  .section-1-container-left {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 329px;
  }
  .section-1-container-left-text {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 13.6875rem;
  }
  .section-1-container-left-h1 {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 9.1875rem;
    font-size: 2.375rem;
    line-height: 3.125rem;
    /* letter-spacing: -0.025em; */
  }
  .section-1-container-left-p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .section-1-container-left-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-1-howitWorks {
    display: none;
  }
  .section-1-container-right {
    max-width: 320px;
    min-height: 320px;
  }
  /* ! section # 2 */
  .section-2-container {
    min-height: 6.875rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 2.45rem;
    -moz-column-gap: 2.45rem;
    column-gap: 2.45rem;
    row-gap: 10px;
  }
  .section-2-brands-wraper {
    width: 23%;
  }
  /* ! Section # 3 */
  .section-3 {
    min-height: 100.6875rem;
  }
  .section-3-container-h3 {
    font-weight: 600;
  }
  .section-3-container-cards-box {
    grid-template-columns: repeat(auto-fit, 100%);
    row-gap: 1.875rem;
  }
  .section-3-container-card {
    min-height: 25.5rem;
  }
  .section-3-container-card-text {
    width: 100%;
  }
  .section-3-container-card-text-h4 {
    width: 15.9375rem;
  }
  .section-3-container-card-text-p {
    width: 255px;
  }
  /* ! Section # 4 */
  .section-4 {
    min-height: 41.75rem;
  }
  .section-4-container {
    min-height: 34.25rem;
    row-gap: 2.5rem;
  }
  .section-4-container-texts {
    min-height: 11.3125rem;
  }
  .section-4-container-texts-h3 {
    min-height: 6.125rem;
  }
  .section-4-container-texts-p {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 3.9375rem;
  }
  .section-4-container-metrics-box {
    min-height: 20.4375rem;
    grid-template-columns: repeat(2, minmax(1px, 17.03125rem));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-4-container-metrics-h4 {
    max-width: 7.21875rem;
    width: 100%;
    min-height: 2.25rem;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    letter-spacing: -0.01em;
  }
  .section-4-container-metrics-p {
    max-width: 7.21875rem;
    width: 100%;
    min-height: 3.9375rem;
  }
}
