.body {
  background-color: #f8f9ff;
  padding-top: 100px;
}
.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: -o-linear-gradient(45deg, #99c299, #f2f7f2, #8cba8c);
  background: linear-gradient(45deg, #99c299, #f2f7f2, #8cba8c);
}
.header-container {
  margin: 0 auto;
  max-width: 73.75rem;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  width: 179px;
  height: 32px;
}
.navigation {
  max-width: 559px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Contact {
  text-align: center;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
}
.navigation-li {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.navigation-li:hover {
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  text-shadow: 5px 5px 10px #009379;
}
.HowItWorks {
  width: 202px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  text-align: center;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.HowItWorks:hover {
  background-color: #009379;
  color: #ffffff;
}
.GetStart {
  width: 221px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-column-gap: 8px;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.GetStart:hover {
  background-color: #009379;
  color: #ffffff;
}
/* ! Section #1 */
.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 690px;
  /* background-color: aquamarine; */
}
.section-1-container {
  max-width: 73.75rem;
  width: 98%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-column-gap: 4.5rem;
  -webkit-column-gap: 4.5rem;
  column-gap: 4.5rem;
  /* background-color: red; */
}
.section-1-container-left {
  max-width: 648px;
  min-height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 40px;
  /* background-color: aqua; */
}
.section-1-container-left-text {
  width: 100%;
  min-height: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 20px;
  /* background-color: yellow; */
}
.section-1-container-left-h1 {
  max-width: 46.75rem;
  width: 100%;
  min-height: 10.875rem;
  font-family: "Poppins";
  font-size: 4.1875rem;
  font-weight: 700;
  line-height: 5.4375rem;
  /* letter-spacing: -0.025em; */
  color: #000000;
}
.section-1-container-left-p {
  max-width: 46.75rem;
  width: 100%;
  min-height: 4rem;
  font-family: "Mulish";
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 2rem;
  color: #2d2d2d;
}
.section-1-container-left-p-a {
  color: #3366ff;
}
.section-1-container-left-buttons {
  max-width: 27.5625rem;
  width: 100%;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 1.125rem;
  -webkit-column-gap: 1.125rem;
  column-gap: 1.125rem;
  /* background-color: green; */
}
.section-1-getStart {
  width: 13.8125rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #009379;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-1-getStart:hover {
  background-color: #009379;
  color: #ffffff;
}
.section-1-howitWorks {
  width: 13.8125rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #009379;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-1-howitWorks:hover {
  background-color: #009379;
  color: #ffffff;
}
.section-1-container-right {
  max-width: 450px;
  width: 100%;
  min-height: 450px;
  /* background-color: aqua; */
}
.section-1-container-right-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* ! Section # 2 */
.section-2 {
  min-height: 16.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: red; */
}
.section-2-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 9.375rem;
  border-width: 1px 0;
  border-style: solid;
  border-color: #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-2-brands-wraper {
  width: 5.625rem;
  height: 1.875rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 10px #99c299;
  box-shadow: 5px 5px 10px #99c299;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /* background-color: aquamarine; */
}
.section-2-brands-wraper:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.section-2-brands {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
