.body {
  background-color: #f8f9ff;
  padding-top: 100px;
}
.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: #2d2d2d;
  /* background: -o-linear-gradient(45deg, #99c299, #f2f7f2, #8cba8c);
  background: linear-gradient(45deg, #99c299, #f2f7f2, #8cba8c); */
}
.header-container {
  max-width: 73.75rem;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 200px;
  height: 32px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.navigation {
  max-width: 659px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-button {
  width: 202px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  text-align: center;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.contact-button:hover {
  background-color: #009379;
  color: #ffffff;
}
.Contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.contact-button:hover a {
  color: #ffffff;
}
.HowItWorks {
  width: 202px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  text-align: center;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.HowItWorks:hover {
  background-color: #009379;
  color: #ffffff;
}
.GetStart {
  width: 221px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-column-gap: 8px;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.GetStart:hover {
  background-color: #009379;
  color: #ffffff;
}
/* ! Section #1 */
.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 690px;
  /* background-color: aquamarine; */
}
.section-1-container {
  max-width: 73.75rem;
  width: 98%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-column-gap: 4.5rem;
  -webkit-column-gap: 4.5rem;
  column-gap: 4.5rem;
  /* background-color: red; */
}
.section-1-container-left {
  max-width: 648px;
  min-height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 40px;
  /* background-color: aqua; */
}
.section-1-container-left-text {
  width: 100%;
  min-height: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 20px;
  /* background-color: yellow; */
}
.section-1-container-left-h1 {
  max-width: 46.75rem;
  width: 100%;
  min-height: 10.875rem;
  font-family: "Poppins";
  font-size: 4.1875rem;
  font-weight: 700;
  line-height: 5.4375rem;
  /* letter-spacing: -0.025em; */
  color: #000000;
}
.section-1-container-left-p {
  max-width: 46.75rem;
  width: 100%;
  min-height: 4rem;
  font-family: "Mulish";
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 2rem;
  color: #2d2d2d;
}
.section-1-container-left-p-a {
  color: #3366ff;
}
.section-1-container-left-buttons {
  max-width: 27.5625rem;
  width: 100%;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 1.125rem;
  -webkit-column-gap: 1.125rem;
  column-gap: 1.125rem;
  /* background-color: green; */
}
.section-1-getStart {
  width: 13.8125rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
  column-gap: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #009379;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-1-getStart:hover {
  background-color: #009379;
  color: #ffffff;
}
.section-1-howitWorks {
  width: 13.8125rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #009379;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-1-howitWorks:hover {
  background-color: #009379;
  color: #ffffff;
}
.section-1-container-right {
  max-width: 450px;
  width: 100%;
  min-height: 450px;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
  /* background-color: aqua; */
}
.section-1-container-right-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* ! Section # 2 */
.section-2 {
  min-height: 16.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: red; */
}
.section-2-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 9.375rem;
  border-width: 1px 0;
  border-style: solid;
  border-color: #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-2-brands-wraper {
  width: 5.625rem;
  height: 1.875rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /* background-color: aquamarine; */
}
.section-2-brands-wraper:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.section-2-brands {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* ! section # 3 */
.section-3 {
  min-height: 48.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: green; */
}
.section-3-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 33.5625rem;
  /* background-color: aqua; */
}
.section-3-container-text {
  width: 100%;
  min-height: 5.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* background-color: yellow; */
}
.section-3-container-h3 {
  width: 10.4375rem;
  min-height: 3.0625rem;
  font-family: "Poppins";
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 3.0625rem;
  letter-spacing: 0.02em;
  color: #000000;
  /* background-color: red; */
}
.section-3-container-p {
  width: 100%;
  min-height: 1.5rem;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #2d2d2d;
  /* background-color: red; */
}
.section-3-container-cards-box {
  margin-top: 3.75rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1px, 23.125rem) 2.1875rem minmax(1px, 23.125rem)
    2.1875rem minmax(1px, 23.125rem);
  grid-template-columns: repeat(3, minmax(1px, 23.125rem));
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem;
  row-gap: 1.25rem;
  -ms-flex-line-pack: center;
  align-content: center;
  /* background-color: yellow; */
}
.section-3-container-card {
  min-height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.875rem;
  text-align: center;
  border-radius: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #e5f4f2;
  /* background-color: aquamarine; */
}
.section-3-container-card-icon {
  width: 5.125rem;
  height: 5.125rem;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #ff6250;
  box-shadow: 5px 5px 10px #ff6250;
}
.card-green {
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.card-yellow {
  -webkit-box-shadow: 5px 5px 10px #f8d57e;
  box-shadow: 5px 5px 10px #f8d57e;
}
.section-3-container-card-icon-svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
}
.section-3-container-card-text {
  width: 19.375rem;
  min-height: 8.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.5rem;
  text-align: center;
  /* background-color: red; */
}
.section-3-container-card-text-h4 {
  width: 100%;
  min-height: 2.25rem;
  font-family: "Poppins";
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: -0.01em;
  color: #2d2d2d;
  /* background-color: lightskyblue; */
}
.section-3-container-card-text-p {
  width: 100%;
  min-height: 4.5rem;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #2d2d2d;
}
.learnMone-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  background-color: #ffffff;
  color: #009379;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.learnMone-button:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  border-radius: 1.25rem;
}
.button-orange:hover {
  color: #ff6250;
  -webkit-box-shadow: 5px 5px 10px #ff6250;
  box-shadow: 5px 5px 10px #ff6250;
}
.orange-arrow {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.button-orange:hover .orange-arrow {
  stroke: #ff6250;
  stroke-width: 3;
}
.button-green:hover {
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.green-arrow {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.button-green:hover .green-arrow {
  stroke-width: 3;
}
.button-yellow:hover {
  color: #f8d57e;
  -webkit-box-shadow: 5px 5px 10px #f8d57e;
  box-shadow: 5px 5px 10px #f8d57e;
}
.yellow-arrow {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.button-yellow:hover .yellow-arrow {
  stroke: #f8d57e;
  stroke-width: 3;
}
/* ! Section # 4 */
.section-4 {
  min-height: 35.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: aqua; */
}
.section-4-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 20.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 3.75rem;
  /* background-color: yellow; */
}
.section-4-container-texts {
  width: 100%;
  min-height: 5.625rem;
  row-gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}
.section-4-container-texts-h3 {
  max-width: 29.1875rem;
  width: 100%;
  min-height: 3.0625rem;
  font-family: "Poppins";
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 3.0625rem;
  letter-spacing: -0.02em;
  color: #000000;
  /* background-color: cadetblue; */
}
.section-4-container-texts-p {
  width: 100%;
  min-height: 1.3125rem;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #2d2d2d;
}
.section-4-container-metrics-box {
  width: 100%;
  min-height: 10.6875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1px, 17.03125rem) 1.875rem minmax(1px, 17.03125rem)
    1.875rem minmax(1px, 17.03125rem) 1.875rem minmax(1px, 17.03125rem);
  grid-template-columns: repeat(4, minmax(1px, 17.03125rem));
  gap: 1.875rem;
  /* background-color: lightgreen; */
}
.section-4-container-metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 5px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 1.25rem 1.25rem 0 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.section-4-container-metrics:hover {
  -webkit-box-shadow: 0px 5px #f2bfaf;
  box-shadow: 0px 5px #f2bfaf;
  /* border-bottom: 4px solid #F2BFAF; */
}
.section-4-container-metrics-h4 {
  max-width: 14.875rem;
  width: 100%;
  min-height: 3.0625rem;
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.02em;
  color: #2d2d2d;
  /* background-color: blueviolet; */
}
.section-4-container-metrics-p {
  width: 100%;
  min-height: 1.3125rem;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  color: #2d2d2d;
  /* background-color: blueviolet; */
}
/* ! Section # 5 */
.section-5 {
  min-height: 43.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-5-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 28.125rem;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-5-container-left {
  max-width: 3375rem;
  width: 100%;
  min-height: 28.125rem;
}
.section-5-container-left-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-5-container-right {
  max-width: 35.625rem;
  width: 100%;
  min-height: 19.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.5rem;
}
.section-5-container-right-text {
  width: 100%;
  min-height: 13.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.25rem;
}
.section-5-container-right-text-h4 {
  width: 100%;
  min-height: 8.125rem;
  font-family: "Poppins";
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 4.0625rem;
  letter-spacing: -0.02em;
  color: #2d2d2d;
}
.section-5-container-right-text-p {
  width: 100%;
  min-height: 4rem;
  font-family: "Mulish";
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 2rem;
  color: #2d2d2d;
}
.section-5-container-right-button {
  width: 13.8125rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  background-color: #e5f4f2;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-5-container-right-button:hover {
  color: #ffffff;
  background-color: #009379;
}
.section-5-left-arrow {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-5-container-right-button:hover .section-5-left-arrow {
  stroke: #ffffff;
  stroke-width: 3;
}
/* ! Section # 6 */
.section-6 {
  min-height: 51.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-6-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 36.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 3.75rem;
}
.section-6-container-text {
  max-width: 73.75rem;
  width: 100%;
  min-height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.25rem;
  text-align: center;
}
.section-6-container-text-h2 {
  width: 100%;
  min-height: 3.0625rem;
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.02em;
  color: #000000;
}
.section-6-container-text-p {
  width: 100%;
  min-height: 1.3125rem;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: #2d2d2d;
}
.section-6-container-cards-box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 23.95rem) 25px minmax(200px, 23.95rem) 25px
    minmax(200px, 23.95rem);
  grid-template-columns: repeat(3, minmax(200px, 23.95rem));
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  row-gap: 1.25rem;
}
.section-6-container-card {
  min-height: 27.125rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #e5f4f2;
  /* background-color: aqua; */
}
.section-6-container-card-inside {
  width: 310px;
  min-height: 22.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 30px;
}
.section-6-container-card-inside-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 30px;
  text-align: center;
}
.section-6-container-card-inside-info-top {
  width: 100%;
  min-height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
}
.person-image-div {
  width: 56px;
  height: 50px;
  border-radius: 100px;
}
.person-image {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}
.person-info {
  width: 100%;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 6px;
}
.person-info-h5 {
  width: 100%;
  min-height: 27px;
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  color: #111827;
}
.person-info-mail {
  width: 100%;
  min-height: 22px;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #374151;
}
.section-6-container-card-inside-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}
.person-resume {
  width: 100%;
  min-height: 144px;
  text-align: center;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.person-rating {
  width: 100%;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ! Section # 7 */
.section-7 {
  min-height: 50.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-7-container {
  max-width: 73.75rem;
  width: 98%;
  min-height: 35.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: red; */
}
.section-7-container-text {
  width: 100%;
  min-height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1.25rem;
  text-align: center;
  /* background-color: green; */
}
.section-7-container-text-h3 {
  max-width: 25.4375rem;
  width: 100%;
  min-height: 3.0625rem;
  font-family: "Poppins";
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 3.0625rem;
  letter-spacing: -0.02em;
  color: #000000;
}
.section-7-container-text-p {
  width: 100%;
  min-height: 1.3125rem;
  font-family: "Mulish";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-7-container-card-box {
  max-width: 73.75rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(315px, 375px) 25px minmax(315px, 375px) 25px
    minmax(315px, 375px);
  grid-template-columns: repeat(3, minmax(315px, 375px));
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
}
.section-7-container-card {
  min-height: 26.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 30px;
  border-radius: 1.25rem;
  border: 1px solid #f8f9ff;
  background-color: #ffffff;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /* background-color: yellow; */
}
.section-7-container-card:hover {
  background-color: #009379;
}
.section-7-container-card:hover p {
  color: #ffffff;
}
.section-7-container-card:hover
  .section-7-container-card-text-top-price::after {
  color: #ffffff;
}
.section-7-container-card:hover path {
  stroke: #ffffff;
  stroke-width: 3;
}
.section-7-container-card:hover button {
  background-color: #ffffff;
  -webkit-transform: scale(1, 1.1);
  -ms-transform: scale(1, 1.1);
  transform: scale(1, 1.1);
  -webkit-box-shadow: 5px 5px 10px #ffffff;
  box-shadow: 5px 5px 10px #ffffff;
}
.section-7-container-card-text {
  width: 310px;
  min-height: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;
  /* background-color: lightgreen; */
}
.section-7-container-card-text-top {
  width: 100%;
  min-height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 6px;
  /* background-color: bisque; */
}
.section-7-container-card-text-top-packet {
  width: 100%;
  min-height: 32px;
  font-family: "Mulish";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-7-container-card-text-top-price {
  width: 65px;
  height: 65px;
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.02em;
  color: #2d2d2d;
}
.section-7-container-card-text-top-price::after {
  content: "\002f""month";
  width: 233px;
  height: 26px;
  margin-left: 12px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  color: #3b3b3b;
}
.section-7-container-card-text-top-p {
  width: 100%;
  min-height: 26px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-7-container-card-text-bottom {
  width: 100%;
  min-height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
  /* background-color: bisque; */
}
.section-7-container-card-text-bottom-li {
  width: 100%;
  min-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-7-getStart-button {
  width: 310px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #009379;
}
/* ! Section #8 */
.section-8 {
  min-height: 852px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: red; */
}
.section-8-container {
  max-width: 1180px;
  width: 98%;
  min-height: 612px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 60px;
  /* background-color: yellow; */
}
.section-8-container-text {
  width: 100%;
  min-height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  /* background-color: lightgreen; */
}
.section-8-container-text-h2 {
  width: 276px;
  min-height: 49px;
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.02em;
  color: #000000;
  /* background-color: lightblue; */
}
.section-8-container-text-p {
  width: 100%;
  min-height: 24px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2d2d2d;
  /* background-color: lightblue; */
}
.section-8-container-cards-box {
  max-width: 1180px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(213px, 374px) 30px minmax(213px, 374px) 30px
    minmax(213px, 374px);
  grid-template-columns: repeat(3, minmax(213px, 374px));
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.section-8-container-card {
  min-height: 459px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 20px;
  border: 1px solid #e5f4f2;
  background-color: #ffffff;
  /* background-color: lightgreen; */
}
.section-8-container-card-member-img {
  width: 100%;
  min-height: 278px;
}
.section-8-member-img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-8-container-card-member-name {
  width: 100%;
  min-height: 79px;
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 6px;
  text-align: center;
}
.section-8-container-card-member-name-h2 {
  max-width: 310px;
  width: 100%;
  min-height: 27px;
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  color: #111827;
}
.section-8-container-card-member-name-p {
  max-width: 310px;
  width: 100%;
  min-height: 26px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-8-container-card-member-soc-media {
  margin: 0 auto;
  width: 128px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  /* background-color: orange; */
}
.section-8-container-card-member-soc-media-imgbox {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  background-color: #e5f4f2;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-8-container-card-member-soc-media-imgbox:hover {
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.section-8-soc-media-icons {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/* ! Section # 9 */
.section-9 {
  min-height: 554px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-9-container {
  max-width: 1180px;
  width: 98%;
  min-height: 434px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2bfaf;
}
.section-9-container-left {
  width: 50%;
  min-height: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: red; */
}
.section-9-container-left-rwaper {
  max-width: 466px;
  width: 98%;
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 40px;
  /* background-color: yellow; */
}
.section-9-container-left-text {
  width: 100%;
  min-height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.section-9-container-left-text-h6 {
  width: 100%;
  min-height: 130px;
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.02em;
  color: #2d2d2d;
}
.section-9-container-left-text-p {
  width: 100%;
  min-height: 64px;
  font-family: "Mulish";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-9-anima-link {
  font-family: "Mulish";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-9-container-left-button {
  width: 221px;
  height: 60px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  background-color: #e5f4f2;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-9-container-left-button:hover {
  background-color: #009379;
  color: #ffffff;
}
.section-9-container-left-button path {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-9-container-left-button:hover path {
  stroke: #ffffff;
}
.section-9-container-right {
  width: 50%;
  min-height: 100%;
  /* background-color: red; */
}
.section-9-container-right-img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* ! Section # 10 */
.section-10 {
  min-height: 593px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-10-container {
  max-width: 1180px;
  width: 98%;
  min-height: 473px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #e5f4f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 60px;
}
.section-10-container-text {
  max-width: 970px;
  width: 98%;
  min-height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}
.section-10-container-text-h2 {
  max-width: 465px;
  width: 100%;
  min-height: 49px;
  font-family: "Poppins";
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.02em;
  color: #2d2d2d;
}
.section-10-container-text-p {
  width: 100%;
  min-height: 24px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-10-container-contact-register {
  max-width: 970px;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
.section-10-container-contact-info {
  width: 465px;
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 63px;
}
.section-10-container-contact-info-top {
  width: 100%;
  min-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.section-10-container-contact-info-top-boxes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2d2d2d;
  /* background-color: red; */
}
.section-10-container-contact-info-bottom {
  width: 100%;
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.section-10-container-contact-info-bottom-h6 {
  width: 100%;
  min-height: 27px;
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  color: #2d2d2d;
}
.section-10-container-contact-info-bottom-soc-media {
  width: 176px;
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.section-10-soc-media-icons {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #e5f4f2;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-10-soc-media-icons:hover {
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -webkit-box-shadow: 5px 5px 10px #009379;
  box-shadow: 5px 5px 10px #009379;
}
.section-10-container-registration {
  width: 465px;
  min-height: 210px;
  /* background-color: aqua; */
}
.section-10-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 20px;
}
.section-10-inputs {
  width: 100%;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}
.section-10-input-div {
  width: 100%;
  min-height: 60px;
  border-radius: 20px;
  border: 1px solid #009379;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.section-10-input-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.section-10-input {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
}
.section-10-input::-webkit-input-placeholder {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
}
.section-10-input::-moz-placeholder {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
}
.section-10-input:-ms-input-placeholder {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
}
.section-10-input::-ms-input-placeholder {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
}
.section-10-input::placeholder {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #009379;
}
.section-10-button {
  width: 159px;
  height: 60px;
  border-radius: 20px;
  background-color: #e5f4f2;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #009379;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.section-10-button:hover {
  background-color: #009379;
  color: #ffffff;
}
/* ! footer */
.footer {
  min-height: 80px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-container {
  max-width: 1180px;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-container-p {
  width: 250px;
  min-height: 20px;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #ffffff;
}
.footer-soc-media {
  width: 176px;
  min-height: 32px;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-soc-media-icons {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #4e4d4d;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/* ! ResponsiveForAllMedia */
@media (min-width: 769px) and (max-width: 1024px) {
  .body {
    padding-top: 60px;
  }
  /* ! Header */
  .header {
    height: 60px;
  }
  .contact-button {
    display: none;
  }
  .HowItWorks {
    height: 40px;
  }
  .GetStart {
    display: none;
  }
  /* ! Section # 1 */
  .section-1 {
    min-height: 908px;
  }
  .section-1-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 40px;
    min-height: 708px;
  }
  .section-1-container-left {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 348px;
  }
  .section-1-container-left-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-1-howitWorks {
    display: none;
  }
  .section-1-container-right {
    max-width: 320px;
    min-height: 320px;
  }
  /* ! Section # 3 */
  .section-3 {
    min-height: 89.125rem;
  }
  .section-3-container-cards-box {
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .section-3-container-card {
    min-height: 21.9375rem;
  }
  .section-3-container-card-text {
    max-width: 38.75rem;
    width: 100%;
  }
  /* ! Section # 4*/
  .section-4 {
    min-height: 30.875rem;
  }
  .section-4-container {
    min-height: 18.375rem;
    row-gap: 2.5rem;
  }
  .section-4-container-texts {
    min-height: 6.9375rem;
  }
  .section-4-container-texts-p {
    max-width: 42.5rem;
    width: 100%;
    min-height: 2.5625rem;
  }
  .section-4-container-metrics-box {
    min-height: 8.9375rem;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  /* ! Section # 5 */
  .section-5 {
    min-height: 29.1875rem;
  }
  .section-5-container {
    max-width: 42.5rem;
    min-height: 29.1875rem;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .section-5-container-left {
    max-width: 20rem;
    width: 100%;
    min-height: 16.6875rem;
  }
  .section-5-container-right {
    max-width: 21.25rem;
    width: 100%;
    min-height: 16.6875rem;
  }
  .section-5-container-right-text {
    min-height: 10.375rem;
  }
  .section-5-container-right-text-h4 {
    min-height: 6.125rem;
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
  .section-5-container-right-text-p {
    min-height: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* ! Section # 6 */
  .section-6 {
    min-height: 73.45rem;
  }
  .section-6-container {
    min-height: 60.875rem;
    row-gap: 1.875rem;
  }
  .section-6-container-text {
    max-width: 42.5rem;
    width: 100%;
    min-height: 8.6875rem;
  }
  .section-6-container-cards-box {
    min-height: 50.3125rem;
    grid-template-columns: repeat(1, minmax(315px, 60.875rem));
  }
  .section-6-container-card-inside {
    max-width: 38.75rem;
    width: 100%;
    min-height: 12rem;
  }
  .section-6-container-card-inside-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .section-6-container-card-inside-info-top {
    max-width: 280px;
    width: 100%;
  }
  .section-6-container-card-inside-info-bottom {
    max-width: 310px;
    width: 100%;
    min-height: 191px;
    row-gap: 24px;
  }
  .person-resume {
    text-align: left;
  }
  .person-rating {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  /* ! Section # 7 */
  .section-7 {
    min-height: 109rem;
  }
  .section-7-container {
    min-height: 96.5rem;
  }
  .section-7-container-card-box {
    grid-template-columns: repeat(1, minmax(315px, 100%));
    row-gap: 20px;
  }
  .section-7-container-card {
    min-height: 458px;
  }
  .section-7-container-card-text {
    max-width: 620px;
    width: 100%;
    min-height: 288px;
  }
  .section-7-container-card-text-top {
    min-height: 169px;
    row-gap: 10px;
  }
  .section-7-container-card-text-top-price {
    width: 100%;
  }
  .section-7-container-card-text-top-p {
    margin-top: 26px;
  }
  .section-7-container-card-text-top-price::after {
    width: 100%;
    min-height: 26px;
    display: block;
    margin-left: 0px;
  }
  .section-7-getStart-button {
    width: 620px;
  }
  /* ! Section # 8 */
  .section-8 {
    min-height: 687px;
  }
  .section-8-container {
    max-width: 680px;
    min-height: 487px;
    row-gap: 40px;
  }
  .section-8-container-cards-box {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .section-8-container-card {
    min-height: 354px;
  }
  .section-8-container-card-member-img {
    min-height: 173px;
  }
  .section-8-container-card-member-soc-media-imgbox:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  /* ! Section # 9 */
  .section-9 {
    min-height: 495px;
  }
  .section-9-container {
    min-height: 395px;
  }
  .section-9-container-left {
    min-height: 395px;
  }
  .section-9-container-left-rwaper {
    max-width: 300px;
  }
  .section-9-container-left-text-h6 {
    min-height: 147px;
    font-size: 38px;
    line-height: 50px;
  }
  .section-9-container-left-text-p {
    min-height: 48px;
    font-size: 16px;
    line-height: 24px;
  }
  .section-9-anima-link {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 319px) and (max-width: 768px) {
  .body {
    padding-top: 60px;
  }
  /* ! Header */
  .header {
    height: 60px;
  }
  .header-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation {
    display: none;
  }
  /* ! Section # 1 */
  .section-1-container {
    width: 98%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 40px;
    min-height: 809px;
  }
  .section-1-container-left {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 329px;
  }
  .section-1-container-left-text {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 13.6875rem;
  }
  .section-1-container-left-h1 {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 9.1875rem;
    font-size: 2.375rem;
    line-height: 3.125rem;
    /* letter-spacing: -0.025em; */
  }
  .section-1-container-left-p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .section-1-container-left-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-1-howitWorks {
    display: none;
  }
  .section-1-container-right {
    max-width: 320px;
    min-height: 320px;
  }
  /* ! section # 2 */
  .section-2-container {
    min-height: 6.875rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 2.45rem;
    -moz-column-gap: 2.45rem;
    column-gap: 2.45rem;
    row-gap: 10px;
  }
  .section-2-brands-wraper {
    width: 23%;
  }
  /* ! Section # 3 */
  .section-3 {
    min-height: 100.6875rem;
  }
  .section-3-container-h3 {
    font-weight: 600;
  }
  .section-3-container-cards-box {
    grid-template-columns: repeat(auto-fit, 100%);
    row-gap: 1.875rem;
  }
  .section-3-container-card {
    min-height: 25.5rem;
  }
  .section-3-container-card-text {
    width: 100%;
  }
  .section-3-container-card-text-h4 {
    width: 15.9375rem;
  }
  .section-3-container-card-text-p {
    width: 255px;
  }
  /* ! Section # 4 */
  .section-4 {
    min-height: 41.75rem;
  }
  .section-4-container {
    min-height: 34.25rem;
    row-gap: 2.5rem;
  }
  .section-4-container-texts {
    min-height: 11.3125rem;
  }
  .section-4-container-texts-h3 {
    min-height: 6.125rem;
  }
  .section-4-container-texts-p {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 3.9375rem;
  }
  .section-4-container-metrics-box {
    min-height: 20.4375rem;
    grid-template-columns: repeat(2, minmax(1px, 17.03125rem));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .section-4-container-metrics {
    min-height: 143px;
    border-radius: 1.25rem;
    -webkit-box-shadow: 5px 5px 10px #f2bfaf;
    box-shadow: 5px 5px 10px #f2bfaf;
  }
  .section-4-container-metrics-h4 {
    max-width: 7.21875rem;
    width: 100%;
    min-height: 2.25rem;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    letter-spacing: -0.01em;
  }
  .section-4-container-metrics-p {
    max-width: 7.21875rem;
    width: 100%;
    min-height: 2.625rem;
  }
  /* ! Section # 5 */
  .section-5 {
    min-height: 40.4375rem;
  }
  .section-5-container {
    min-height: 32.9375rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.25rem;
  }
  .section-5-container-left {
    max-width: 320px;
    width: 100%;
    min-height: 16.6875rem;
  }
  .section-5-container-right {
    min-height: 15rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-5-container-right-text {
    min-height: 8.75rem;
    text-align: center;
  }
  .section-5-container-right-text-h4 {
    min-height: 4.5rem;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
  }
  .section-5-container-right-text-p {
    min-height: 3rem;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
  }
  /* ! Section # 6 */
  .section-6 {
    min-height: 122.0625rem;
  }
  .section-6-container {
    min-height: 104.5625rem;
    row-gap: 1.875rem;
  }
  .section-6-container-text {
    max-width: 19.6875rem;
    width: 100%;
    min-height: 13.0625rem;
  }
  .section-6-container-text-h2 {
    min-height: 9.1875rem;
    font-weight: 600;
  }
  .section-6-container-text-p {
    min-height: 2.625rem;
  }
  .section-6-container-cards-box {
    grid-template-columns: repeat(1, minmax(200px, 60.875rem));
  }
  .section-6-container-card {
    min-height: 458px;
  }
  .section-6-container-card-inside {
    max-width: 255px;
    width: 100%;
    min-height: 378px;
  }
  .section-6-container-card-inside-info-bottom {
    min-height: 221px;
  }
  .person-resume {
    min-height: 168px;
  }
  /* ! Section # 7 */
  .section-7 {
    min-height: 104.875rem;
  }
  .section-7-container {
    min-height: 97.375rem;
  }
  .section-7-container-text {
    min-height: 10rem;
  }
  .section-7-container-text-h3 {
    min-height: 6.125rem;
    font-weight: 600;
  }
  .section-7-container-text-p {
    min-height: 2.625rem;
  }
  .section-7-container-card-box {
    grid-template-columns: repeat(1, minmax(200px, 99%));
    row-gap: 30px;
  }
  .section-7-container-card {
    min-height: 450px;
  }
  .section-7-container-card-text {
    max-width: 255px;
    width: 100%;
    min-height: 280px;
  }
  .section-7-container-card-text-top {
    min-height: 161px;
    row-gap: 10px;
  }
  .section-7-container-card-text-top-price {
    width: 100%;
  }
  .section-7-getStart-button {
    width: 225px;
  }
  /* ! Section # 8 */
  .section-8 {
    min-height: 1704px;
  }
  .section-8-container {
    min-height: 1584px;
    row-gap: 30px;
  }
  .section-8-container-text {
    min-height: 117px;
  }
  .section-8-container-text-h2 {
    width: 100%;
    font-weight: 600;
  }
  .section-8-container-text-p {
    min-height: 48px;
  }
  .section-8-container-cards-box {
    grid-template-columns: repeat(1, minmax(213px, 374px));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 30px;
  }
  .section-8-container-card-member-soc-media-imgbox:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  /* ! Section # 9 */
  .section-9 {
    min-height: 642px;
  }
  .section-9-container {
    min-height: 582px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-9-container-left {
    width: 100%;
    min-height: 344px;
  }
  .section-9-container-left-rwaper {
    min-height: 264px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-9-container-left-text {
    min-height: 164px;
    text-align: center;
  }
  .section-9-container-left-text-h6 {
    min-height: 72px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
  }
  .section-9-container-left-text-p {
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }
  .section-9-anima-link {
    font-size: 16px;
    line-height: 24px;
  }
  .section-9-container-right {
    width: 100%;
    min-height: 100%;
  }
  .section-9-container-right-img {
    margin: 20px auto;
  }
  /* ! Section # 10 */
  .section-10 {
    min-height: 821px;
  }
  .section-10-container {
    min-height: 761px;
    row-gap: 40px;
  }
  .section-10-container-text {
    min-height: 204px;
    /* text-align: center; */
  }
  .section-10-container-text-h2 {
    min-height: 98px;
  }
  .section-10-container-text-p {
    min-height: 96px;
  }
  .section-10-container-contact-register {
    min-height: 437px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 40px;
  }
  .section-10-container-contact-info {
    width: 98%;
    row-gap: 40px;
  }
  .section-10-soc-media-icons:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .section-10-container-registration {
    width: 98%;
  }
  .section-10-button {
    margin: 0 auto;
  }
  /* ! footer */
  .footer-container {
    min-height: 122px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
